# .NET Core
bin/
obj/
TestResults/
*.trx
*.coverage
*.coveragexml
coverage/
coverage.cobertura.xml
*.nupkg
*.snupkg
*.log
*.user
*.userosscache
*.sln.docstates

# Node / Angular
node_modules/
dist/
tmp/
out-tsc/
bazel-out/
.angular/

# Docker
.dockerignore
!docker-compose.yml
!Dockerfile

# Environments
.env

# IDEs / OS
.vs/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.ide
.DS_Store
Thumbs.db
